:root {
  /* Colors */
  --orange: #F2DCC0;
  --violet: #8169FF;
  --red: #F7746D;

  --black: #000;
  --white: #FFF;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--orange);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}